.header{
    
    border: 1px solid rgba(0, 0, 0, 0.3);
    width:auto;
    height: 70px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 50px;
}

.name-money{
    margin-bottom: 8px;
}

@media (max-width: 768px){
    .header{
        padding: 0 30px;
         font-size: 14px;
    }
    .name-money{
        font-size: 14px;
    }
    .user-info{
        font-size: 14px;
    }
}
